body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white; 
    color: #333; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100px; 
  }

  .logo{
    width: 280px;
  }
hr{
    border-color: #FFE9B1;
    outline-color: #FFE9B1;

}
  .banner-box {
    
    height: 50px;
    background-color: #FDFBF1;
  }
  
  
  .container {
    max-width: 800px; 
    background-color: white; 
    padding: 20px; 
    
    
  }
  figcaption {
    text-align: center;
    color: #999999;
  }
  
  
  header {
    text-align: center; 
    margin-bottom: 20px; 
  }

  .linea {
    border-color: #cbfaf8;
    outline-color: #cbfaf8;
  }
  
  .banner-box, .banner {
    font-weight: bold; 
    margin: 10px 0; 
  }
  
  
  .recipe h2 {
    margin: 20px 0;
    
  }
  
  .recipe {
    text-align: center;
  }
  
  .focaccia {
    box-shadow:4px 4px 4px #7a7a7a;
    border-radius: 10px;
    max-width: 100%;
    height: auto; 
    margin: 0 auto; 
  }
  
  
  ul {
    padding: 5;
  }

  .featured-p{
    height: 2px;
  }
  
  
  a {
    color: #7CB2B2; 
    
  }
  
  .lista-lunga{
    list-style: none;
  }

  
  .read-more {
    text-align: left;
    margin-top: 20px; 
  }