body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #EAEDED;
}

.header {
    padding: 10px;
    background-color: #232f3e;
    color: #ffffff;
    overflow: hidden;
}

.logo {
    float: left;
}

.logo img {
    width: 100px;
    height: auto;
    vertical-align: middle;
}

.navbar {
    background-color: #364759;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.nav-links:after {
    content: "";
    display: table;
    clear: both;
}

.nav-links li {
    float: left;
    margin-right: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    padding: 5px 0;
}

.small-banner {
    background-color: #F56600;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 30px 30px;
}

.gift-guide {
    background-image: url(/assets/images/bg-image.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 20px;
    background-color: #f0f2f3;
    margin: 30px 30px;
}

.gift-guide h2 {
    color: #EAEDED;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

.gift-guide p {
    font-size: 18px;
    color: #EAEDED;
}

.gift-options {
    background-color: white;
    padding: 40px 20px;
    margin: 30px 30px;
}

.gift-options h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
}

.gift-options .shop-now {
    font-size: 18px;
    font-weight: bold;
    color:#1c7585;
    text-decoration: none;
    margin-left: 10px;
}

.gift-grid {
    text-align: center;
}

.gift-item {
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

.gift-item img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.gift-choice {
    margin: 30px 30px;
    text-align: center;
}

.gift-choice h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.gift-choice .shop-now {
    font-size: 18px;
    font-weight: bold;
    color: #1c7585;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}

.gift-choice .gift-grid {
    text-align: center; 
}

.gift-choice .gift-item {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.gift-choice .gift-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0; 
    box-shadow: none; 
}

footer {
    text-align: center;
}

.footer-top {
    background-color: #364759;
    padding: 15px 0;
}

.footer-top a {
    color: #ffffff;
    font-weight: bold;
}

.footer-main {
    background-color: #222F3E;
    padding: 30px 0;
    color: #ffffff;
}

.footer-logo img {
    width: 150px;
    height: auto;
}